## 1. Import data

In [30]:
import pandas as pd
import os

# Define data folder path (relative to repo root)
DATA_PATH = "data/"

# Define file locations
files = {
    "hale": f"{DATA_PATH}hale.csv",
    "under5": f"{DATA_PATH}under5.csv",
    "mf": f"{DATA_PATH}mf.xlsx",
    "ppp": f"{DATA_PATH}ppp.csv",
    "classification": f"{DATA_PATH}world-bank-income-groups.csv",
    "ghg": f"{DATA_PATH}ghg.xlsx"
}

# Confirm current working directory
print("üìÅ Current working directory:", os.getcwd())

# Check that all expected files exist
for name, path in files.items():
    print(f"{'‚úÖ' if os.path.exists(path) else '‚ùå'} {name}: {path}")

# Load datasets
hale_raw = pd.read_csv(files["hale"]).dropna(axis=1, how="all")
print("‚úÖ HALE dataset loaded:", hale_raw.shape)

ghg_raw = pd.read_excel(files["ghg"], sheet_name="GHG_per_capita_by_country")
print("‚úÖ GHG Emissions dataset loaded:", ghg_raw.shape)

under5_raw = pd.read_csv(files["under5"]).dropna(axis=1, how="all")
print("‚úÖ Under-5 Mortality dataset loaded:", under5_raw.shape)

mf_raw = pd.read_excel(files["mf"])
print("‚úÖ Material Footprint dataset loaded:", mf_raw.shape)

ppp_raw = pd.read_csv(files["ppp"]).dropna(axis=1, how="all")
print("‚úÖ GNI/PPP dataset loaded:", ppp_raw.shape)

classification_raw = pd.read_csv(files["classification"]).dropna(axis=1, how="all")
print("‚úÖ Classification dataset loaded:", classification_raw.shape)

print("\nüéØ All local datasets read successfully.")

üìÅ Current working directory: c:\Users\Grace\material-consumption-northsouth
‚úÖ hale: data/hale.csv
‚úÖ under5: data/under5.csv
‚úÖ mf: data/mf.xlsx
‚úÖ ppp: data/ppp.csv
‚úÖ classification: data/world-bank-income-groups.csv
‚úÖ ghg: data/ghg.xlsx
‚úÖ HALE dataset loaded: (24420, 20)
‚úÖ GHG Emissions dataset loaded: (212, 57)
‚úÖ Under-5 Mortality dataset loaded: (266, 68)
‚úÖ Material Footprint dataset loaded: (471, 10)
‚úÖ GNI/PPP dataset loaded: (266, 39)
‚úÖ Classification dataset loaded: (7953, 4)

üéØ All local datasets read successfully.

## 2. Filtering & standardisation

In [32]:
def peek(df, name, n=3):
    print(f"\n{name}: shape={df.shape}")
    print(df.columns.tolist())
    display(df.head(n))

peek(ghg_raw, "GHG")
peek(hale_raw, "HALE")
peek(under5_raw, "Under5")
peek(mf_raw, "MF")
peek(ppp_raw, "PPP")
peek(classification_raw, "Classification")

GHG: shape=(212, 57)
['EDGAR Country Code', 'Country', 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]

,EDGAR Country Code,Country,1970,1971,1972,1973,1974,1975,1976,1977,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,ABW,Aruba,0.625934,0.703655,0.880821,0.957859,0.941704,1.172726,1.158691,1.342567,...,4.710674,4.913791,4.718501,4.684082,5.091921,4.876837,5.031166,5.303664,5.273174,5.451078
1,AFG,Afghanistan,1.375142,1.333101,1.132816,1.161646,1.237025,1.268347,1.255778,1.238782,...,0.832721,0.783839,0.857712,0.878004,0.871729,0.851405,0.843805,0.802216,0.797931,0.795637
2,AGO,Angola,2.779412,2.702630,3.004551,3.143567,3.155610,2.918559,2.336976,2.844994,...,2.998527,2.798185,2.532673,2.289746,2.240145,1.923979,1.965006,1.944531,1.890963,1.876773

HALE: shape=(24420, 20)
['IndicatorCode', 'Indicator', 'ValueType', 'ParentLocationCode', 'ParentLocation', 'Location type', 'SpatialDimValueCode', 'Location', 'Period type', 'Period', 'IsLatestYear', 'Dim1 type', 'Dim1', 'Dim1ValueCode', 'FactValueNumeric', 'FactValueNumericLow', 'FactValueNumericHigh', 'Value', 'Language', 'DateModified']

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,IsLatestYear,Dim1 type,Dim1,Dim1ValueCode,FactValueNumeric,FactValueNumericLow,FactValueNumericHigh,Value,Language,DateModified
0,WHOSIS_000002,Healthy life expectancy (HALE) at birth (years),text,AFR,Africa,Country,LSO,Lesotho,Year,2021,True,Sex,Male,SEX_MLE,43.10,42.23,44.08,43.1 [42.2 ‚Äì 44.1],EN,2024-08-01T16:00:00.000Z
1,WHOSIS_000002,Healthy life expectancy (HALE) at birth (years),text,AFR,Africa,Country,CAF,Central African Republic,Year,2021,True,Sex,Male,SEX_MLE,43.78,42.74,44.97,43.8 [42.7 ‚Äì 45.0],EN,2024-08-01T16:00:00.000Z
2,WHOSIS_000002,Healthy life expectancy (HALE) at birth (years),text,AFR,Africa,Country,LSO,Lesotho,Year,2021,True,Sex,Both sexes,SEX_BTSX,44.63,43.66,45.76,44.6 [43.7 ‚Äì 45.8],EN,2024-08-01T16:00:00.000Z

Under5: shape=(266, 68)
['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,"Mortality rate, under-5 (per 1,000 live births)",SH.DYN.MORT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,"Mortality rate, under-5 (per 1,000 live births)",SH.DYN.MORT,NaN,NaN,NaN,NaN,NaN,NaN,...,73.586088,71.824438,69.672206,68.239022,63.357697,60.658078,58.911653,57.140506,56.644907,53.806252
2,Afghanistan,AFG,"Mortality rate, under-5 (per 1,000 live births)",SH.DYN.MORT,353.2,347.6,342.3,336.8,331.7,326.5,...,75.100000,72.400000,70.000000,67.600000,65.400000,63.300000,61.300000,59.300000,57.400000,55.500000

MF: shape=(471, 10)
['countryIsoCode', 'country', 'indexCode', 'index', 'dimension', 'indicatorCode', 'indicator', 'year', 'value', 'note']

,countryIsoCode,country,indexCode,index,dimension,indicatorCode,indicator,year,value,note
0,AFG,Afghanistan,PHDI,Planetary pressures‚Äìadjusted Human Development...,NaN,mf,Material footprint per capita (tonnes),2021,1.3495,NaN
1,AFG,Afghanistan,PHDI,Planetary pressures‚Äìadjusted Human Development...,NaN,mf,Material footprint per capita (tonnes),2022,1.2827,NaN
2,AFG,Afghanistan,PHDI,Planetary pressures‚Äìadjusted Human Development...,NaN,mf,Material footprint per capita (tonnes),2023,1.2455,NaN

PPP: shape=(266, 39)
['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024']

,Country Name,Country Code,Indicator Name,Indicator Code,1990,1991,1992,1993,1994,1995,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Aruba,ABW,"GNI per capita, PPP (current international $)",NY.GNP.PCAP.PP.CD,21490.000000,22880.000000,23630.000000,24130.000000,25340.000000,25930.000000,...,34460.000000,34480.00000,35450.000000,36710.000000,37340.000000,28180.000000,34420.000000,40060.000000,41080.000000,NaN
1,Africa Eastern and Southern,AFE,"GNI per capita, PPP (current international $)",NY.GNP.PCAP.PP.CD,1718.312496,1729.568268,1646.988494,1669.562205,1678.860759,1780.291461,...,3350.292731,3462.52199,3596.394785,3538.762428,3632.385134,3544.014476,3808.431432,4120.387348,4247.934961,4365.066547
2,Afghanistan,AFG,"GNI per capita, PPP (current international $)",NY.GNP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2300.000000,2240.00000,2360.000000,2460.000000,2620.000000,2580.000000,2160.000000,2130.000000,2210.000000,NaN

Classification: shape=(7953, 4)
['Entity', 'Code', 'Year', "World Bank's income classification"]

        Entity Code  Year World Bank's income classification
0  Afghanistan  AFG  1987               Low-income countries
1  Afghanistan  AFG  1988               Low-income countries
2  Afghanistan  AFG  1989               Low-income countries

In [56]:
# MF
if "year" in mf_raw.columns:
    yr = 2023 if (mf_raw["year"] == 2023).any() else mf_raw["year"].max()
    mf_2023 = mf_raw[mf_raw["year"] == yr].copy()
else:
    mf_2023 = mf_raw.copy()

drop_cols = ["indexCode", "index", "dimension", "indicatorCode", "indicator", "note"]
mf_new = mf_2023.drop(columns=[c for c in drop_cols if c in mf_2023.columns], errors="ignore")
mf_new.rename(columns={"value": "MF", 
                       "country": "Country Name",
                       "countryIsoCode": "Country Code"}, inplace=True)

# Classification
classification_raw["Year"] = pd.to_numeric(classification_raw["Year"], errors="coerce")
latest_year = classification_raw["Year"].max()
classification_new = classification_raw.query("Year == @latest_year").copy()
classification_new.rename(columns={"entity": "Country Name",
                                   "code": "Country Code",
                                   "classification": "Classification"}, inplace=True)
if "Code" in classification_new.columns:
    classification_new.rename(columns={"Code": "Country Code",
                                       "Entity": "Country Name"}, inplace=True)

# GHG
if 2024 in ghg_raw.columns:
    ghg_raw = ghg_raw.rename(columns={2024: "GHG"})
ghg_raw.rename(columns={"EDGAR Country Code": "Country Code"}, inplace=True)
ghg_new = ghg_raw[["Country Code", "Country", "GHG"]].dropna()

# Under5
if "2023" in under5_raw.columns:
    under5_raw = under5_raw.rename(columns={"2023": "Under5"})
under5_new = under5_raw[["Country Name", "Country Code", "Under5"]].dropna()

# PPP
if "2023" in ppp_raw.columns:
    ppp_raw = ppp_raw.rename(columns={"2023": "PPP"})
ppp_new = ppp_raw[["Country Name", "Country Code", "PPP"]].dropna()

# HALE
hale_both = hale_raw.query("Dim1 == 'Both sexes'").copy()
hale_both = hale_both.query("Period == 2021").copy()

hale_birth = hale_both[hale_both["Indicator"].str.contains("at birth", case=False)].copy()
hale_elder = hale_both[hale_both["Indicator"].str.contains("at age 60", case=False)].copy()

cols_to_keep = ["SpatialDimValueCode", "Location", "FactValueNumeric"]
hale_birth = hale_birth[cols_to_keep].rename(
    columns={
        "SpatialDimValueCode": "Country Code",
        "Location": "Country Name",
        "FactValueNumeric": "hale_birth"
    }
)
hale_elder = hale_elder[cols_to_keep].rename(
    columns={
        "SpatialDimValueCode": "Country Code",
        "Location": "Country Name",
        "FactValueNumeric": "hale_60"
    }
)

def std_codes(df):
    """Standardize country codes to uppercase and remove duplicates."""
    df["Country Code"] = df["Country Code"].astype(str).str.strip().str.upper()
    return df.sort_values("Country Code").drop_duplicates(subset=["Country Code"], keep="first")

In [57]:
ghg_use = std_codes(ghg_new)
mf_use = std_codes(mf_new)
hale_birth_use = std_codes(hale_birth)
hale_elder_use = std_codes(hale_elder)
under5_use = std_codes(under5_new)
ppp_use = std_codes(ppp_new)
classification_use = std_codes(classification_new)

for name, d in [
    ("ghg_use", ghg_use),
    ("mf_use", mf_use),
    ("hale_birth_use", hale_birth_use),
    ("hale_elder_use", hale_elder_use),
    ("under5_use", under5_use),
    ("ppp_use", ppp_use),
    ("classification_use", classification_use)
]:
    print(f"{name:10} ‚Üí rows={len(d):4d}, unique codes={d['Country Code'].nunique()}")

print("\nüéØ Datasets standardized and ready for merging.")

peek(under5_use, "Under5")
peek(ppp_use, "PPP")
peek(classification_use, "Classification")
peek(hale_birth_use, "HALE at Birth")
peek(hale_elder_use, "HALE at Age 60")
peek(ghg_use, "GHG Emissions")
peek(mf_use, "Material Footprint")

ghg_use    ‚Üí rows= 210, unique codes=210
mf_use     ‚Üí rows= 157, unique codes=157
hale_birth_use ‚Üí rows= 185, unique codes=185
hale_elder_use ‚Üí rows= 185, unique codes=185
under5_use ‚Üí rows= 244, unique codes=244
ppp_use    ‚Üí rows= 243, unique codes=243
classification_use ‚Üí rows= 218, unique codes=218

üéØ Datasets standardized and ready for merging.

Under5: shape=(244, 3)
['Country Name', 'Country Code', 'Under5']

                  Country Name Country Code     Under5
1  Africa Eastern and Southern          AFE  53.806252
2                  Afghanistan          AFG  55.500000
3   Africa Western and Central          AFW  88.726335

PPP: shape=(243, 3)
['Country Name', 'Country Code', 'PPP']

                  Country Name Country Code           PPP
0                        Aruba          ABW  41080.000000
1  Africa Eastern and Southern          AFE   4247.934961
2                  Afghanistan          AFG   2210.000000

Classification: shape=(218, 4)
['Country Name', 'Country Code', 'Year', "World Bank's income classification"]

    Country Name Country Code  Year World Bank's income classification
368        Aruba          ABW  2024              High-income countries
37   Afghanistan          AFG  2024               Low-income countries
220       Angola          AGO  2024      Lower-middle-income countries

HALE at Birth: shape=(185, 3)
['Country Code', 'Country Name', 'hale_birth']

    Country Code Country Name  hale_birth
18           AFG  Afghanistan       50.45
63           AGO       Angola       53.76
431          ALB      Albania       66.69

HALE at Age 60: shape=(185, 3)
['Country Code', 'Country Name', 'hale_60']

     Country Code Country Name  hale_60
1106          AFG  Afghanistan     9.88
636           AGO       Angola    11.86
931           ALB      Albania    15.34

GHG Emissions: shape=(210, 3)
['Country Code', 'Country', 'GHG']

  Country Code      Country       GHG
0          ABW        Aruba  5.451078
1          AFG  Afghanistan  0.795637
2          AGO       Angola  1.876773

Material Footprint: shape=(157, 4)
['Country Code', 'Country Name', 'year', 'MF']

  Country Code Country Name  year       MF
2          AFG  Afghanistan  2023   1.2455
5          AGO       Angola  2023   2.9376
8          ALB      Albania  2023  10.0369

## 3. Merging & storing

In [63]:
for dset in [mf_use, hale_birth_use, hale_elder_use, under5_use, ppp_use, classification_use]:
    if "Country Name" in dset.columns:
        dset.drop(columns=["Country Name"], inplace=True)

df = (ghg_use
      .merge(mf_use, on='Country Code', how='inner')
      .merge(hale_birth_use, on='Country Code', how='inner')
      .merge(hale_elder_use, on='Country Code', how='inner')
      .merge(under5_use, on='Country Code', how='inner')
      .merge(ppp_use, on='Country Code', how='inner')
      .merge(classification_use, on='Country Code', how='inner'))

# One country-name Column
if 'Country' in df.columns:
    df.rename(columns={'Country':'CountryName'}, inplace=True)
elif 'Country Name' in df.columns:
    df.rename(columns={'Country Name':'CountryName'}, inplace=True)
elif 'Country Name' in df.columns:
    df.rename(columns={'country':'CountryName'}, inplace=True)

# Remove any 'Year' columns if present
df.drop(columns=[col for col in df.columns if col.lower() == 'year'], inplace=True)

# Convert Key Indicators to Numeric Format
num_cols = ['GHG','MF','hale_birth', 'hale_60','Under5','PPP']
for c in num_cols:
    df[c] = pd.to_numeric(df[c], errors='coerce')

final_merged_df = df.copy()
print("Merged shape:", final_merged_df.shape)
final_merged_df.head()

Merged shape: (148, 9)

,Country Code,CountryName,GHG,MF,hale_birth,hale_60,Under5,PPP,World Bank's income classification
0,AFG,Afghanistan,0.795637,1.2455,50.45,9.88,55.5,2210.0,Low-income countries
1,AGO,Angola,1.876773,2.9376,53.76,11.86,64.0,7280.0,Lower-middle-income countries
2,ALB,Albania,2.417479,10.0369,66.69,15.34,9.4,20990.0,Upper-middle-income countries
3,ARE,United Arab Emirates,25.618114,39.7661,67.27,15.10,5.0,76680.0,High-income countries
4,ARG,Argentina,7.948544,16.3294,64.79,14.99,9.6,29460.0,Upper-middle-income countries

## 4. Saving cleaned

In [64]:
output_dir = "data_clean"
os.makedirs(output_dir, exist_ok=True)

# Save individual cleaned datasets
datasets_to_save = {
    "ghg_clean.csv": ghg_use,
    "mf_clean.csv": mf_use,
    "hale_clean.csv": hale_use,
    "under5_clean.csv": under5_use,
    "ppp_clean.csv": ppp_use,
    "classification_clean.csv": classification_use
}

for filename, dframe in datasets_to_save.items():
    save_path = os.path.join(output_dir, filename)
    dframe.to_csv(save_path, index=False)
    print(f"üíæ Saved {filename} ‚Üí {save_path}")

# Save the merged nalytical dataset
merged_path = os.path.join(output_dir, "merged_dataset.csv")
final_merged_df.to_csv(merged_path, index=False)
print(f"\n‚úÖ Merged dataset saved ‚Üí {merged_path}")
print(f"Final merged shape: {df.shape}")

üíæ Saved ghg_clean.csv ‚Üí data_clean\ghg_clean.csv
üíæ Saved mf_clean.csv ‚Üí data_clean\mf_clean.csv
üíæ Saved hale_clean.csv ‚Üí data_clean\hale_clean.csv
üíæ Saved under5_clean.csv ‚Üí data_clean\under5_clean.csv
üíæ Saved ppp_clean.csv ‚Üí data_clean\ppp_clean.csv
üíæ Saved classification_clean.csv ‚Üí data_clean\classification_clean.csv

‚úÖ Merged dataset saved ‚Üí data_clean\merged_dataset.csv
Final merged shape: (148, 9)